<!DOCTYPE html>
<html>
<head>
    <title>Signs to Look For</title>
    <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>
<div class='container'>
    <h2>Be mindful of red flags that could indicate someone is being trafficked</h2>

    <ul class="list-group">
        <li class="list-group-item list-group-item-success">
            <h4>Physical Signs:</h4>
            <ul>
                <div class='indent'>
                <li>Has bruises or displays other signs of restraint/abuse</li>
                <li>Looks weak/malnourished</li>
                </div>
            </ul>
        </li>
        <li class="list-group-item list-group-item-info">
            <h4>Behavioral Signs:</h4>
            <ul>
                <div class='indent'>
                <li>Appears anxious, tense, submissive</li>
                <li>Has difficulty maintaining eye contact</li>
                <li>Seems overly alert or nervous</li>
                </div>
            </ul>
        </li>
        <li class="list-group-item list-group-item-warning">
            <h4>Work/living situation Signs:</h4>
            <ul>
                <div class='indent'>
                <li>Does not have freedom to come and go when they wish</li>
                <li>Works long/odd hours</li>
                <li>Is not at liberty to take sufficient breaks</li>
                <li>Is a minor and providing sexual services</li>
                <li>Owes money and has extreme difficulty paying it off</li>
                <li>Receives little or no compensation</li>
                </div>
            </ul>
        </li>
        <li class="list-group-item list-group-item-danger">
            <h4>Other Signs:</h4>
            <ul>
                <div class='indent'>
                <li>Is not in charge of own finances</li>
                <li>Has numerous inconsistencies in stories</li>
                <li>Speaks timidly about place of permanent residence</li>
                <li>Has few personal possessions, if any</li>
                <li>Is fearful/suspicious of authority figures</li>
                </div>
            </ul>
        </li>
    </ul>
  </div>

    
    

</body>
</html>