<!DOCTYPE html>
<html>
<head>
   <title>Signs to Look For</title>
   <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

       <!-- Optional theme -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

       <!-- Latest compiled and minified JavaScript -->
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>
<div class='container'>
  <h4>When talking to and interviewing survivors, remember these tips!</h4>
  <ul class="list-group">
    <li class="list-group-item">Be sensitive and non-judgemental (people are often put in difficult situations, we do not know how we would react in their shoes)
        <ul>
          <li>Instead of “What were you doing out last night?!” say “What were your plans for last night? What actually happened?”</li>
        </ul>
    </li>
    <li class="list-group-item">Enter the interaction from a point of empathy and understanding
    </li>
    <li class="list-group-item">If the survivor feels safe and accepted, they will open up to you more easily, and you will be able to better provide them with help
    </li>
    <li class="list-group-item">Be firm and direct, yet gentle</li>
    <li class="list-group-item">Be mindful of your body language, stand up straight, keep shoulders and hands relaxed.
    </li>
    <li class="list-group-item">Maintain eye contact and treat the survivor with respect
    </li>
    <li class="list-group-item">Do not internalize the person’s negativity. If they act in a hostile or aggressive way, remember that it likely has to do with them and keep a calm, firm demeanor.

    </li>

  </ul>
 </div>

   
   

</body>
</html>