<html>
<head>
	<title>CheckIt!</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">WebSiteName</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#">Logout</a></li>
	    </ul>
	  </div>
	</nav>
	<div class='container'>

		<div id="left_panel">
			<h4>Do you need any of the following for the survivor?</h4>
			<div class="checkbox">
	  			<label><input type="checkbox" value="food">Food</label>
			</div>
			<div class="checkbox">
	  			<label><input type="checkbox" value="shelter">Shelter</label>
			</div>
			<div class="checkbox">
	  			<label><input type="checkbox" value="medical">Medical</label>
			</div>
			<div class="checkbox">
	  			<label><input type="checkbox" value="soc_services">Social Services</label>
			</div>
			<div id="food_info">
				
			</div><!--end "food_info"-->
			<div id="shelter_info">
				
			</div><!--end "shelter_info"-->
			<div id="med_info">
				
			</div><!--end "med_info"-->
			<div id="soc_info">
				
			</div><!--end "soc_info"-->
		</div> <!--end "left_panel"-->
		<div id='right_panel'>
			<h4>Please keep these in mind!</h4>
			<p a ref=''>Establishing Trust</p>
			<p a ref=''>Signs to Watch For</p>
		</div> <!--end "right_panel"-->

		<button>Proceed to Form</button>
	</div> <!--end 'container'-->
	
</body>
</html>