
<html>
<head>
	<title>CheckIt!</title>
</head>
<body>
	<div class='container'>

		<div id="left_panel">
			<h4>Do you need any of the following for the survivor?</h4>
			<div class="checkbox">
	  			<label><a href = "/food">Food</a></label>
			</div>
			<div class="checkbox">
	  			<label><a href = "/hospital">Hospital</a></label>
			</div>
			<div class="checkbox">
	  			<label><a href = "/youth_shelter">Youth Shelter</a></label>
			</div>
			<div class="checkbox">
	  			<label><a href = "/women_shelter">Women's Shelter</a></label>
			</div>
			<div class="checkbox">
	  			<label><a href = "/mental_health">Mental Health</a></label>
			</div>
		</div> <!--end "left_panel"-->
		<div id='right_panel'>
			<h4>Please keep these in mind!</h4>
			<p a ref=''>Establishing Trust</p>
			<p a ref=''>Signs to Watch For</p>
		</div> <!--end "right_panel"-->

		<button>Proceed to Form</button>
	</div> <!--end 'container'-->
</body>
</html>


